#Details {
    top: -70px;
    .goBack {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background: linear-gradient(to right, #ff9f67 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        color: #ff9f67;
        text-align: center;
        font-size: 17px; 
        transition: all .6s ease-out;
        display: block;
        margin-left: 30px;
        margin-top: 20px;
        &:hover{
            background-position: left bottom;
            cursor: pointer;
            color: #fff;
        }
    }
    .deleteBtn {
      width: 200px;
      height: 50px;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      background: linear-gradient(to right, #990000 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
      color: #990000;
      text-align: center;
      font-size: 17px; 
      transition: all .6s ease-out;
      display: block;
      margin-left: 30px;
      &:hover{
          background-position: left bottom;
          cursor: pointer;
          color: #fff;
      }
  }
    .container {
      .detail {
        font-family: "Mulish", sans-serif;
        padding: 120px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        .info {
          width: 50%;
          font-size: 30px;
          .coursesName {
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(
              to right,
              rgb(76, 0, 255),
              rgb(255, 0, 234)
            );
          }
          .desc {
            margin: 15px 0;
            font-size: 18px;
            line-height: 25px;
            color: #8d96ba;
          }
          .detailsPrice{
            font-size: 17px;
          }
        }
      }
    }
  }